@media (max-width: 800px) {
  .nav-links {
    display: none;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .product-card-group {
    gap: 1.2rem;
  }

  .product-card {
    width: 28rem;
    padding: 0;
  }

  .header {
    height: 50vh;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 36%;
  }
}
